
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box; /*considera a borda como valor total*/
}

body {
  background-color: #f6f8fc;
}

.content {
  padding: 1rem; /*rem facilita pois se adapita de acordo com o tamanho da fonte do usuario*/
  background-color: white;
  height: 100vh; /*Tamanho da tela toda*/
  width: 100vw;
}

@media (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 0 auto; /*Para manter centralizado*/
    border-radius: 1rem;
  }
}



